doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    if service !== '-'
      link(rel='stylesheet', href='/stylesheets/s/' + service + '/style.css')
  body
    #content
    block content

    script(src='/javascripts/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    if service !== '-'
      script(src='/javascripts/s/' + service + '/browser.js')
    script(src='/javascripts/app.js')
