extends /layout
block content

  form(name='qurl-publisher', id='qurl-publisher', action='#')
    input(type='hidden', name='service', value='amqp')
    input(type='hidden', name='endpoint', value='publisher')

    label(for='url') Server url (amqp://[user:password@]hostname[:port][/%2F...])
    input(name='url', id='url', value='amqp://guest:guest@localhost/%2F')
    br

    label(for='vhost') VHost
    input(type='vhost', name='vhost', id='vhost', value='/')
    br

    label(for='exchange') Exchange
    input(name='exchange', id='exchange', value='qurl-exchange')
    br

    label(for='routingKey') Routing Key
    input(name='routingKey', id='routingKey', value='qurl.routing.key')
    br

    label(for='message') Message
    textarea(id='message', name='message') Hello world.
    br

    input(type='button', id='publish', onclick='qurl.app.publish()', value='Publish')

  #output
