extends /layout
block content

  form(name='qurl-subscriber', id='qurl-subscriber', action='#')
    input(type='hidden', name='service', value='amqp')
    input(type='hidden', name='endpoint', value='subscriber')

    label(for='url') Server url (amqp://[user:password@]hostname[:port][/%2F...])
    input(name='url', id='url', value='amqp://guest:guest@localhost/%2F')
    br

    label(for='vhost') VHost
    input(type='vhost', name='vhost', id='vhost', value='/')
    br

    label(for='exchange') Exchange
    input(name='exchange', id='exchange', value='qurl-exchange')
    br

    label(for='queue') Queue
    input(name='queue', id='queue', value='qurl-queue')
    br

    label(for='bindingKey') Binding Key
    input(name='bindingKey', id='bindingKey', value='#')
    br

    input(type='button', id='subscribe', onclick='qurl.app.subscribe()', value='Subscribe')
    input(type='button', id='unsubscribe', onclick='qurl.app.unsubscribe()', value='Unsubscribe')

  #output
